.select {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 35px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s;
    margin-right: 20px;
}

.selectOptionBtn {
    font-size: 14px;
    padding: 2px 5px;
    margin-left: 5px;
    color: deepskyblue;
    border: none;
}

.selectOptionBtn:hover {
    color: #333;
}